.App {
  /* color: green; */
  margin-left: 50px;
  margin-right: 50px;
  border: 0.5px dashed black;
}

h1, h2, h3, h4, h5, h6, p, div, span, article, section, form {
  padding: 0;
  margin: 0;
}

.HeaderArea {
  width: 100%;
  height: 40px;
  border: 0.8px dashed purple;
}

.NavBarMain {
  width: 100%;
  /* height: 40px; */
  /* border: 0.9px solid green; */
}

.BlogBody {
  width: 100%;
  height: 140vh;
  display: flex;
  flex-direction: row;
  border: 1px solid yellow;
}

.RightSideBlogBody {
  width: 25%;
  height: 79vh;
  border: 2px dotted orange;
}

.TabsMain {
  width: 75%;
  /* height: 79vh; */
  border: 2px dashed blue;
}

.ArticlesMain {
  width: 100%;
  height: 79vh;
  border: 2px dashed blue;
}


